.title__primary, .checkbox__input, .section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-icons, .footer-contacts, .clients, .team__icons, .team, .about, .features, .nav-contacts, .site-nav, .mobile-media, .mobile-contacts, .mobile-menu, .filter, .product__cards {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 14px;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.site-nav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.button__submit, .hero__button {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    overflow: hidden;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.section__about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__about {
    display: block;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  line-height: 1.1666666667;
  color: #000000;
  text-decoration: none;
}

.logo__dark {
  color: #2196f3;
}

.page-header__logo {
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 91px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop--position {
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.form {
  text-align: left;
}

.form-primary {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #212121;
  line-height: 1.15;
}

.form__title--position {
  margin-bottom: 12px;
}

.form__field {
  position: relative;
}
.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__field:last-child {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  line-height: 1.16;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;
  line-height: 1.16;
  font-size: 16px;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover > .form__icons,
.form__field:focus-within > .form__icons {
  fill: #2196f3;
}

.form__input:hover, .form__input:focus,
.comment__field:hover,
.comment__field:focus {
  border-color: #2196f3;
  outline: none;
}

.form__icons {
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icons--position {
  position: absolute;
}

.comment__field {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  line-height: 1.16;
  font-size: 16px;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__field {
  display: inline-block;
}

.checkbox__field--position {
  position: relative;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox__icon--position {
  position: absolute;
  left: 0px;
  top: 2px;
}
@media screen and (min-width: 1200px) {
  .checkbox__icon--position {
    left: 13px;
    top: 4px;
  }
}

.checkbox__icon--checkin {
  fill: #2196f3;
}

.checkbox__input:checked + .checkbox__icons .checkbox__icon--checkin {
  opacity: 1;
}

.checkbox__input:not(:checked) + .checkbox__icons .checkbox__icon--checkin {
  opacity: 0;
}

.checkbox__label {
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    padding-left: 37px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox__text {
  display: inline-block;
  color: #2196f3;
  font-size: 12px;
  text-underline-position: under;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.46;
  }
}

.form-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .form-secondary {
    flex-direction: row;
    align-items: center;
  }
}

.form-secondary__field {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  line-height: 1.07;
  letter-spacing: 0.03em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .form-secondary__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-secondary__field {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.form-secondary__field:hover, .form-secondary__field:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-secondary__field::placeholder {
  font-size: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.product__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__list {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .product__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .product__list {
    width: 370px;
  }
}

.product__card {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.product__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__list:hover .product__overlay {
  transform: translateY(0);
}

.product__textwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
}

.product__text {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #ffffff;
}

.product-wrapper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.product-wrapper__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}
.product-wrapper__text {
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 370px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
  }
}

.filter--position {
  margin-bottom: 40px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter--position {
    margin-bottom: 30px;
  }
}
.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button--primary {
  color: #212121;
  background-color: #f5f4fa;
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.hero__button {
  width: 216px;
  height: 50px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__close {
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__close--position {
  position: absolute;
  top: 8px;
  right: 8px;
}

.button__close .button__icon--cross {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.button__close:hover, .button__close:focus {
  color: #2196f3;
}

.button__submit {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__submit:hover, .button__submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__submit--modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button__submit--order {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button__submit--icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

.menu-toggle__icon-menu {
  fill: currentColor;
}

.menu-toggle__icon-close {
  fill: currentColor;
}

.menu-toggle__close--position {
  position: absolute;
  top: 10px;
  right: 15px;
}

.page-header__mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header__mobile-menu {
    display: none;
  }
}

.page-header__mobile-menu--logo {
  margin-right: 0;
}

.menu-toggle .menu-toggle__icon-close {
  display: block;
}

.menu-toggle.is-open .menu-toggle__icon-close {
  display: block;
}

.menu-toggle.is-open .menu-toggle__icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 5px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateY(0);
}

.menu-container__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: inherit;
  padding: 48px 49px;
}

.mobile-menu {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__current {
  color: #2196f3;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-contacts__phone {
  font-size: 34px;
  line-height: 1.1764705882;
  font-weight: 500;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.mobile-contacts__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__mail:hover, .mobile-contacts__mail:focus {
  color: #2196f3;
}

.mobile-media {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.mobile-media__link {
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2196f3;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.mobile-media__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.page-header--border {
  border-bottom: 1px solid #ececec;
}

.page-header__main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
  }
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.nav-contacts__link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: #2196f3;
}

.nav-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #c4c4c4;
  overflow: hidden;
}

.hero__overlay {
  max-width: 480px;
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image01-480w480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image01-768w768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image01-1600w1600.jpg");
  }
}

@media screen and (min-devie-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image01-480w480@2x.jpg"), url("../images/hero/image01-768w768@2x.jpg"), url("../images/hero/image01-1600w1600@2x.jpg");
  }
}
.hero__overlay--position {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  width: 300 px;
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__title--position {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  width: 200px;
  height: 50px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

.features__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: none;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__wrapper {
  max-width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features__wrapper {
    max-width: none;
    width: 100%;
  }
}

.features__wrapper--margin {
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}

.features__text {
  margin-bottom: 0;
  line-height: 1.71;
}

.section--about {
  padding-top: 0;
}

.about {
  display: flex;
}

.about__item {
  width: calc((100% - 60px) / 3);
}

.about__item--position {
  margin-right: 30px;
}

.about__item:nth-child(3n) {
  margin-right: 0;
}

.about__thumb {
  position: relative;
}

.about__wrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 24%;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__wrapper--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__text {
  margin-bottom: 0;
  font-style: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.section-team--background {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.team__card {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team__textwrapper {
  padding: 30px 0;
  background-color: #ffffff;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__icons {
  display: flex;
  margin-left: 122px;
  margin-right: 122px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .team__icons {
    margin-left: 74px;
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__icons {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.team__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team__link:hover, .team__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo {
  margin-right: 0;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  overflow: hidden;
}

.footer-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-inside {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-inside__contact-media {
    display: flex;
    margin-left: 76px;
    margin-right: 89px;
    margin-bottom: 60px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-inside__contact-media {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-inside__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-inside__contacts {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-inside__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.logo__light {
  color: #2196f3;
}

.footer-contacts {
  min-width: 231px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__address {
  display: block;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address:hover, .footer-contacts__address:focus {
  color: #2196f3;
}

.footer-contacts__link {
  display: block;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer__media {
  min-width: 206px;
}
@media screen and (min-width: 1200px) {
  .footer__media {
    margin-right: 93px;
  }
}

.footer__text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer__text {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    display: block;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-icons {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icons {
    margin-bottom: 0;
  }
}

.footer-icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons__link:hover, .footer-icons__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-icons__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */