.page-header__mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;

  @include mq(tab) {
    display: none;
  }
}

.page-header__mobile-menu--logo {
  margin-right: 0;
}

.menu-toggle .menu-toggle__icon-close {
  display: block;
}

.menu-toggle.is-open .menu-toggle__icon-close {
  display: block;
}

.menu-toggle.is-open .menu-toggle__icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $whiteColorPrimary;
  padding: 5px;
  transform: translateX(100%);
  transition: transform 250ms $timingFunction;

  &.is-open {
    transform: translateY(0);
  }
}

.menu-container__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: inherit;
  padding: 48px 49px;
}

.mobile-menu {
  @extend %list;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: calc(47 / 40);
  color: $colorTextTitle;
  font-weight: $fontWeightMedium;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms $timingFunction;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mobile-menu__current {
  color: $accentColor;
}

.mobile-contacts {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-contacts__phone {
  font-size: 34px;
  line-height: calc(40 / 34);
  font-weight: $fontWeightMedium;
  color: $accentColor;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.mobile-contacts__mail {
  font-size: 24px;
  font-weight: $fontWeightMedium;
  line-height: calc(28 / 24);
  color: $colorTextPrimary;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms $timingFunction;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mobile-media {
  position: relative;
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.mobile-media__link {
  font-size: $fontSizeThird;
  line-height: calc(22 / 18);
  color: $accentColor;
  font-weight: $fontWeightMedium;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.mobile-media__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
