@include section('.section');

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);
  color: $colorTextTitle;
  text-align: center;

  @include mq(desk) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.section__title--hidden {
  @extend %visually-hidden;
}

.section__about {
  display: none;

  @include mq(desk) {
    display: block;
  }
}
