// ПЕРЕМІННІ

$fontFamilyPrimary: 'Roboto', sans-serif;
$fontFamilySecondary: 'Raleway', sans-serif;
$fontSizePrimary: 14px;
$fontFizeSecondary: 16px;
$fontSizeThird: 18px;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$letterSpacingPrimary: 0.03em;
$colorTextPrimary: #757575;
$colorTextTitle: #212121;
$accentColor: #2196f3;
$whiteColorPrimary: #ffffff;
$blackColorPrimary: #000000;
$bgColorSecondary: #2f303a;
$colorSection: #f5f4fa;
$colorFooterContacts: rgba(255, 255, 255, 0.6);
$colorBorder: #eeeeee;
$bgColorHero: #c4c4c4;
$colorClientsIcon: #afb1b8;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
