.clients {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @include mq(desk) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;

  @include mq(tab) {
    width: 226px;
  }

  @include mq(desk) {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  color: $colorClientsIcon;
  transition: color 250ms $timingFunction, background-color 250ms $timingFunction,
    border 250ms $timingFunction;
}

.clients__logo {
  margin-right: 0;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link {
  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}
